body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
    margin: 0;

}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}


h1, h2 {
    text-align: center;
    color: #4F4F4F;
}
a {
   text-align: center;
   margin-bottom: 40px;
   display: block;
   text-decoration: none;
   color: #4F4F4F
}
.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 200px
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.action {
    display: flex;
    justify-content: space-between;
}


.form {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.delete {
 background-color: red;
}

button:hover {
    background-color: #0056b3;
}

.delete:hover {
 background-color: red;
}
